<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="~{admin/layout/layout :: head}"></div>


    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                <div th:replace="~{admin/layout/slidebar :: slidebarAdmin}"></div>
                <div class="top_nav">
                    <div th:replace="~{admin/layout/header :: div}"></div>
                </div>
                <!-- Content -->
                <div class="right_col" role="main">
                    <h1>Doctor Page</h1>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 card_head">

                            <a th:href="@{/admin/create-typethuoc}"  class="btn btn-primary">Create </a> <br><!-- comment -->
                       
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">

                                <table th:object="${listDoctor}" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                                    <thead>
                                        <tr>

                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    </tbody>
                                    <tr th:each="e : ${listTypethuoc}">
                                        <td th:text="${e.getId()}"></td>
                                        <td th:text="${e.getName()}"></td>
                                         <td>
                                        <a th:href="@{/edit-typethuoc/{id}(id=${e.getId()})}">Edit</a>
                                        </td>

                                    </tr>
                                    </tbody>

                                    <tbody>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>


                <!-- Content -->
                <div th:replace="~{admin/layout/footer :: footer}"></div>
            </div>

            <div th:replace="~{admin/layout/layout :: body}"></div>

    </body>
</html>
