<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="~{admin/layout/layoutfixbug :: head}"></div>

<style>

    .success-container {
        background-color: #4CAF50; /* Màu xanh lá cây */
        color: #ffffff; /* Màu chữ trắng */
        padding: 10px;
        border-radius: 5px; /* Góc bo tròn */
        margin-bottom: 10px; /* Khoảng cách dưới */
        display: none; /* Ẩn ban đầu */
    }

    /* CSS cho thông báo thất bại */
    .error-container {
        background-color: #f44336; /* Màu đỏ */
        color: #ffffff; /* Màu chữ trắng */
        padding: 10px;
        border-radius: 5px; /* Góc bo tròn */
        margin-bottom: 10px; /* Khoảng cách dưới */
        display: none; /* Ẩn ban đầu */
    }
</style>
    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                <div th:replace="~{admin/layout/slidebarfixbug :: slidebarAdmin}"></div>
                <div class="top_nav">
                    <div th:replace="~{admin/layout/headerfixbug :: div}"></div>
                </div>
                <!-- Content -->
                <div class="right_col" role="main">
                    <h1>Medication Types</h1>
                    <div th:if="${MessageCreate != null}" class="success-container">
                        <span class="success-message" th:text="${MessageCreate}"></span>
                    </div>
                    <div th:if="${MessageError != null}" class="error-container">
                        <span class="error-message" th:text="${MessageError}"></span>
                    </div>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 card_head">

                            <a th:href="@{/admin/typethuoc/create}"  class="btn btn-primary">Create </a> <br><!-- comment -->

                        </div>
                        <div class="card-body">
                            <div class="table-responsive">

                                <table  class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                                    <thead>
                                        <tr>

                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    </tbody>
                                    <tr th:each="e : ${listTypeThuoc}">
                                        <td th:text="${e.getId()}"></td>
                                        <td th:text="${e.getName()}"></td>
                                        <td>
                                            <a class="btn btn-info" th:href="@{/admin/typethuoc/edit/{id}(id=${e.getId()})}">Update</a> |
                                            <a class="btn btn-warning" th:href="@{/admin/typethuoc/delete/{id}(id=${e.getId()})}">Delete</a>
                                        </td>


                                    </tr>
                                    </tbody>

                                    <tbody>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

<!--                <script>-->
<!--                    function showNotification(message, container) {-->
<!--                        var notification = document.querySelector(container);-->
<!--                        var notificationMessage = notification.querySelector("span");-->
<!--                        notificationMessage.innerText = message;-->
<!--                        notification.style.display = "block"; // Hiển thị thông báo-->
<!--                        setTimeout(function () {-->
<!--                            notification.style.display = "none"; // Ẩn thông báo sau 3 giây-->
<!--                        }, 3000); // 3 giây (3000 milliseconds)-->
<!--                    }-->

<!--                    // Sử dụng khi bạn muốn hiển thị thông báo thành công-->
<!--                    showNotification("Update Successful.", ".success-container");-->

<!--                    // Sử dụng khi bạn muốn hiển thị thông báo thất bại-->
<!--                    showNotification("Update Failed.", ".error-container");-->
<!--                </script>-->
                <!-- Content -->
                <div th:replace="~{admin/layout/footer :: footer}"></div>
            </div>

            <div th:replace="~{admin/layout/layoutfixbug :: body}"></div>

    </body>
</html>
