<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="~{admin/layout/layoutfixbug :: head}"></div>


    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                <div th:replace="~{admin/layout/slidebarfixbug :: slidebarAdmin}"></div>
                <div class="top_nav">
                    <div th:replace="~{admin/layout/headerfixbug :: div}"></div>
                </div>
                <!-- Content -->

                <div class="right_col" role="main">
                    <div class="">
                        <div class="page-title">
                            <div class="title_left">
                                <h3>Patient Form</h3>
                            </div>

                            <div class="title_right">
                                <div class="col-md-5 col-sm-5 form-group pull-right top_search">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search for...">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button">Go!</button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="x_panel">
                                    <div class="x_content">
                                        <form th:action="@{/admin/patient/create}" th:object="${patient}" method="post">
                                            <span class="section">Patient Info</span>
                                            <div class="field item form-group">
                                                <label class="col-form-label col-md-3 col-sm-3 label-align">Name<span class="required">*</span></label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="text" th:field="*{name}" class="form-control" name="name" placeholder="ex. John f. Kennedy" required="required"
                                                           pattern=".{6,}" title="Minimum 6 characters" data-error="Name is required (minimum 6 characters)">
                                                        <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="field item form-group">
                                                <label class="col-form-label col-md-3 col-sm-3 label-align">User name<span class="required">*</span></label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input class="form-control" th:field="*{username}" name="username" type="text" data-minlength="5" data-maxlength="15" pattern=".{2,}" title="Minimum 2 characters" data-error="Username is required (minimum 2 characters)">
                                                        <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="field item form-group">
                                                <label class="col-form-label col-md-3 col-sm-3 label-align">Password<span class="required">*</span></label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input th:field="*{password}" class="form-control" type="password" id="password1" name="password"
                                                           pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                                           title="Minimum 8 Characters Including An Upper And Lower Case Letter, A Number"
                                                           required="">
                                                </div>
                                            </div>
                                            <div class="field item form-group">
                                                <label class="col-form-label col-md-3 col-sm-3 label-align">Phone<span class="required">*</span></label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input class="form-control" th:field="*{phone}" name="phone" type="number" data-minlength="10" data-maxlength="11" pattern=".{10,}" title="Minimum 10 number" data-error="Phone is required (minimum 10 number)">
                                                        <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="field item form-group">
                                                <label class="col-form-label col-md-3 col-sm-3 label-align">Email<span class="required">*</span></label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input class="form-control" th:field="*{email}" name="email" required="required" type="email">
                                                </div>
                                            </div>
                                            <div class="field item form-group">
                                                <label class="col-form-label col-md-3 col-sm-3 label-align">Address<span class="required">*</span></label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input class="form-control" th:field="*{address}" type="text" name="address" required="required">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-6 offset-md-3">
                                                    <input type="submit" value="Create" class="btn btn-primary"/>
                                                    <input type="reset" value="Reset" class="btn btn-success"/>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Content -->
                <div th:replace="~{admin/layout/footer :: footer}"></div>
            </div>

            <div th:replace="~{admin/layout/layoutfixbug :: body}"></div>

    </body>
</html>
