@media only screen and (max-width: 767px){
    #gdlr-core-wrapper-1.gdlr-core-pbf-wrapper {
        margin-top: -10px !important;
    }
}
#gdlr-core-column-82407 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-82407 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-82407 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame{
    border-color: #ffffff !important;
}
#gdlr-core-column-59236 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-59236 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-59236 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame{
    border-color: #ffffff !important;
}
@media only screen and (max-width: 767px){
    #gdlr-core-column-59236 .gdlr-core-pbf-column-content-margin{
        padding-top: 45px !important;
    }
}
#gdlr-core-column-3102 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-3102 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-3102 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame{
    border-color: #ffffff !important;
}
#gdlr-core-column-82492 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-82492 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-82492 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame{
    border-color: #ffffff !important;
}
#gdlr-core-column-12023 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-12023 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-12023 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame{
    border-color: #ffffff !important;
}
#gdlr-core-column-64143 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-64143 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-64143 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame{
    border-color: #ffffff !important;
}
#gdlr-core-column-43044 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-43044 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-43044 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame{
    border-color: #ffffff !important;
}
#gdlr-core-column-78714 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-78714 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-78714 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame{
    border-color: #ffffff !important;
}
#gdlr-core-column-69717 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-69717 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-69717 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame{
    border-color: #ffffff !important;
}
#gdlr-core-column-68207 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-68207 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-68207 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame{
    border-color: #ffffff !important;
}
@media only screen and (max-width: 767px){
    #gdlr-core-column-68207 .gdlr-core-pbf-column-content-margin{
        padding-bottom: 30px !important;
    }
}
#gdlr-core-column-64411 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-64411 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-64411 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame{
    border-color: #ffffff !important;
}
@media only screen and (max-width: 767px){
    #gdlr-core-column-64411 .gdlr-core-pbf-column-content-margin{
        padding-bottom: 30px !important;
    }
}
#gdlr-core-column-34268 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-34268 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-34268 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame{
    border-color: #ffffff !important;
}
@media only screen and (max-width: 767px){
    #gdlr-core-column-34268 .gdlr-core-pbf-column-content-margin{
        padding-bottom: 30px !important;
    }
}
#gdlr-core-column-11091 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-11091 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-11091 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame{
    border-color: #ffffff !important;
}
#gdlr-core-column-86360 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-86360 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-86360 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame{
    border-color: #ffffff !important;
}
@media only screen and (max-width: 767px){
    #gdlr-core-column-86360 .gdlr-core-pbf-column-content-margin{
        padding-top: 80px !important;
        padding-bottom: 35px !important;
    }
}
#gdlr-core-column-21240 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-21240 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-21240 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame{
    border-color: #ffffff !important;
}
#gdlr-core-column-39508 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-39508 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-39508 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame{
    border-color: #ffffff !important;
}
@media only screen and (max-width: 767px){
    #gdlr-core-wrapper-2.gdlr-core-pbf-wrapper {
        padding-top: 130px !important;
        padding-bottom: 165px !important;
    }
}
#gdlr-core-column-56204 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-56204 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-56204 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame{
    border-color: #ffffff !important;
}
@media only screen and (max-width: 767px){
    #gdlr-core-column-56204 .gdlr-core-pbf-column-content-margin{
    }
}
#gdlr-core-column-37719 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-37719 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-37719 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame{
    border-color: #ffffff !important;
}
@media only screen and (max-width: 767px){
    #gdlr-core-column-37719 .gdlr-core-pbf-column-content-margin{
        padding-right: 50px !important;
        padding-left: 50px !important;
    }
}
#gdlr-core-column-83562 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-83562 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-83562 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame{
    border-color: #ffffff !important;
}
#gdlr-core-column-19928 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-19928 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-19928 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame{
    border-color: #ffffff !important;
}
@media only screen and (max-width: 767px){
    #gdlr-core-column-19928 .gdlr-core-pbf-column-content-margin{
        padding: 60px 40px 60px 40px !important;
    }
}
@media only screen and (max-width: 767px){
    #gdlr-core-wrapper-3.gdlr-core-pbf-wrapper {
        margin-right: 15px !important;
        margin-left: 15px !important;
    }
}
#gdlr-core-column-76310 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-76310 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-76310 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame{
    border-color: #ffffff !important;
}
@media only screen and (max-width: 767px){
    #gdlr-core-column-76310 .gdlr-core-pbf-column-content-margin{
        padding-bottom: 20px !important;
    }
}
#gdlr-core-column-37350 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-37350 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-37350 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame{
    border-color: #ffffff !important;
}
@media only screen and (max-width: 767px){
    #gdlr-core-column-37350 .gdlr-core-pbf-column-content-margin{
        padding-top: 0px !important;
        padding-bottom: 70px !important;
    }
}
@media only screen and (max-width: 767px){
    #gdlr-core-column-37350 .gdlr-core-pbf-column-content-margin{
    }
}
#gdlr-core-column-75034 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-75034 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-75034 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame{
    border-color: #ffffff !important;
}
#gdlr-core-column-50285 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-50285 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-50285 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame{
    border-color: #ffffff !important;
}
@media only screen and (max-width: 767px){
    #gdlr-core-column-50285 .gdlr-core-pbf-column-content-margin{
        padding-top: 40px !important;
    }
}
#gdlr-core-column-35325 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-35325 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-35325 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame{
    border-color: #ffffff !important;
}
#gdlr-core-column-53108 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-53108 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-53108 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame{
    border-color: #ffffff !important;
}
#gdlr-core-column-80325 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-80325 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-80325 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame{
    border-color: #ffffff !important;
}
@media only screen and (max-width: 767px){
    #gdlr-core-wrapper-4.gdlr-core-pbf-wrapper {
        padding-top: 80px !important;
        padding-bottom: 50px !important;
    }
}
#gdlr-core-column-18114 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-18114 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-18114 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame{
    border-color: #ffffff !important;
}
#gdlr-core-column-28851 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-28851 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-28851 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame{
    border-color: #ffffff !important;
}
#gdlr-core-column-42694 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-42694 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-42694 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame{
    border-color: #ffffff !important;
}
#gdlr-core-column-91493 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-91493 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-91493 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame{
    border-color: #ffffff !important;
}