.menu-user{
    margin-left: 95px !important;
    margin-top: -30px !important;
    text-decoration: none !important;
}
.avatar {
    width: 30px; /* Điều chỉnh kích thước avatar theo ý muốn */
    height: 30px;
    border-radius: 50%; /* Làm tròn avatar */
    margin-right: 5px; /* Tạo khoảng cách giữa avatar và tên đăng nhập */
}

