<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <footer>
        <div class="mediz-footer-wrapper " >
            <div class="mediz-footer-container mediz-container clearfix" >
                <div class="mediz-footer-column mediz-item-pdlr mediz-column-15" >
                    <div id="text-1" class="widget widget_text mediz-widget">
                        <div class="textwidget">
                            <p>
                                <img decoding="async" class="alignnone size-full wp-image-6129" src="../client/image/logo-1.png" alt="" width="50" /><br />
                                <span class="gdlr-core-space-shortcode" style="margin-top: -27px ;"  ></span><br />
                                House number 590<br />
                                Cach Mang Thang 8 Street<br />
                                Ho Chi Minh City, Viet Nam<br />
                                <span class="gdlr-core-space-shortcode" style="margin-top: 0px ;"  ></span><br />
                                <i class="icon-phone" style="font-size: 19px ;color: #17449E ;margin-right: 10px ;"  ></i><span style="color: #17449e;">+1-2345-3455-33</span><br />
                                <span class="gdlr-core-space-shortcode" style="margin-top: -15px ;"  ></span><br />
                            </p>
                        </div>
                    </div></div>
                <div class="mediz-footer-column mediz-item-pdlr mediz-column-15" >
                    <div id="nav_menu-3" class="widget widget_nav_menu mediz-widget">
                    <h3 class="mediz-widget-title">About Us</h3>
                    <span class="clear"></span>
                    <div class="menu-about-us-container">
                        <ul id="menu-about-us" class="menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7462">
                                <a href="#">About Us</a>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7462">
                                <a href="#">News</a>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7462">
                                <a href="#">Feedback</a>
                            </li>
                            </ul>
                    </div>
                </div>
            </div>
            <div class="mediz-footer-column mediz-item-pdlr mediz-column-15" >
                <div id="nav_menu-2" class="widget widget_nav_menu mediz-widget">
                    <h3 class="mediz-widget-title">Our Services</h3>
                    <span class="clear"></span>
                    <div class="menu-our-services-container">
                        <ul id="menu-our-services" class="menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7469">
                                <a th:href="@{/listDoctors}">List Doctors</a>
                            </li>

                            </ul>
                    </div>
                </div>
            </div>
            <div class="mediz-footer-column mediz-item-pdlr mediz-column-15" >
                <div id="gdlr-core-opening-hour-widget-3" class="widget widget_gdlr-core-opening-hour-widget mediz-widget">
                    <h3 class="mediz-widget-title">Hospital Hours</h3>
                    <span class="clear"></span>
                    <div class="gdlr-core-opening-hour-widget" style="color: #17449e ;"  >
                        <div class="gdlr-core-opening-hour-widget-list clearfix" >
                            <span class="gdlr-core-head" >
                                <i class="icon-clock" ></i>Monday - Friday
                            </span>
                            <span class="gdlr-core-tail" >07:00 - 21:00</span>
                        </div>
                        <div class="gdlr-core-opening-hour-widget-list clearfix" >
                            <span class="gdlr-core-head" >
                                <i class="icon-clock" ></i>Saturday
                            </span>
                            <span class="gdlr-core-tail" >07:00 - 18:00</span>
                        </div>
                        <div class="gdlr-core-opening-hour-widget-list clearfix" >
                            <span class="gdlr-core-head" >
                                <i class="icon-clock" ></i>Sunday
                            </span>
                            <span class="gdlr-core-tail" >07:00 - 18:00</span>
                        </div>
                    </div>
                </div>
                <div id="text-9" class="widget widget_text mediz-widget">
                    <div class="textwidget">
                        <p>
                            <span class="gdlr-core-space-shortcode" style="margin-top: -23px ;"  ></span>
                            <a class="gdlr-core-button gdlr-core-button-shortcode  gdlr-core-button-solid gdlr-core-button-no-border" target="_blank" style="box-shadow: 0px 0px 30px rgba(0, 0, 0,0.1); -moz-box-shadow: 0px 0px 30px rgba(0, 0, 0,0.1); -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0,0.1); font-size: 16px ;font-weight: 700 ;letter-spacing: 0px ;color: #17449E ;padding: 14px 50px 17px 50px;text-transform: none ;border-radius: 0px;-moz-border-radius: 0px;-webkit-border-radius: 0px;background: #ffffff ;" rel="noopener">
                                <span class="gdlr-core-content" >Emergency : 24 hours</span>
                            </a>
                        </p>
                        </div>
                    </div></div></div></div>
        <div class="mediz-copyright-wrapper" >
            <div class="mediz-copyright-container mediz-container clearfix">
                <div class="mediz-copyright-left mediz-item-pdlr">The innovation of 2023, we are MediWell</div></div></div></footer>

</html>
