<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="~{admin/layout/layoutfixbug :: head}"></div>

    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                <div th:replace="~{admin/layout/slidebarfixbug :: slidebarAdmin}"></div>
                <div class="top_nav">
                    <div th:replace="~{admin/layout/headerfixbug :: div}"></div>
                </div>
                <!-- Content -->

                <div class="right_col" role="main">
                    <div class="">
                        <div class="page-title">
                            <div class="title_left">
                                <h3>Medical Examination Form</h3>
                            </div>

                        </div>
                        <div class="clearfix"></div>

                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="x_panel">
                                    <div class="x_content">
                                        <form th:action="@{/admin/phieukham/create}" th:object="${taophieukham}" method="post">
                                            <div th:if="${session.error}">                         
                                                <div class="alert alert-danger alert-dismissible fade show notify-error">
                                                    <button type="button" class="btn-close" data-dismiss="alert"></button>
                                                    <span th:text="${session.error}"></span>
                                                </div>
                                                <th:block th:text="${#session.removeAttribute('error')}"></th:block>
                                            </div>
                                            <div class="field item form-group">
                                                <label class="col-form-label col-md-3 col-sm-3 label-align">No.<span class="required" style="color: red">*</span></label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="number" th:field="*{sothutu}" class="form-control" name="sothutu" th:attr="style=${taophieukham.sothutu == null} ? 'border-color: red' : ''">
                                                        <div style="color: red" class="help-block with-errors" th:if="${#fields.hasErrors('sothutu')}" th:errors="*{sothutu}"></div>
                                                </div>
                                            </div>
                                            <div class="field item form-group">
                                                <label class="col-form-label col-md-3 col-sm-3 label-align">Full Name<span class="required" style="color: red">*</span></label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="text" th:field="*{name}" class="form-control" name="name" placeholder="ex. John f. Kennedy" th:attr="style=${taophieukham.name == null} ? 'border-color: red' : ''">
                                                        <div style="color: red" class="help-block with-errors" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                                                </div>
                                            </div>
                                            <div class="field item form-group">
                                                <label class="col-form-label col-md-3 col-sm-3 label-align">Gender</label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="radio"  th:field="*{gender}"  value="true" checked="checked"/>Male
                                                    <input type="radio" th:field="*{gender}" value="false"/>Female
                                                    <div style="color: red" class="help-block with-errors" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></div>
                                                </div>
                                            </div>
                                            <div class="field item form-group">
                                                <label class="col-form-label col-md-3 col-sm-3 label-align">Date of Birth<span class="required" style="color: red">*</span></label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input th:field="*{dob}" class="form-control" name="dob" type="date"/>
                                                        <div style="color: red" class="help-block with-errors" th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}"></div>
                                                </div>
                                            </div>
                                            <div class="field item form-group">
                                                <label class="col-form-label col-md-3 col-sm-3 label-align">Phone<span class="required" style="color: red">*</span></label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input th:field="*{phone}" class="form-control" type="text" id="phone" name="phone" th:attr="style=${taophieukham.phone == null} ? 'border-color: red' : ''">
                                                        <div style="color: red" class="help-block with-errors" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
                                                </div>
                                            </div>
                                            <div class="field item form-group">
                                                <label class="col-form-label col-md-3 col-sm-3 label-align">Address<span class="required" style="color: red">*</span></label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input class="form-control" th:field="*{address}" type="text" name="address" th:attr="style=${taophieukham.address == null} ? 'border-color: red' : ''">
                                                        <div style="color: red" class="help-block with-errors" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
                                                </div>
                                            </div>
                                            <div class="field item form-group">
                                                <label class="col-form-label col-md-3 col-sm-3 label-align">Type Doctor<span class="required" style="color: red">*</span></label>
                                                <div class="col-md-6 col-sm-6">
                                                    <select name="typeDoctorID" class="form-control">
                                                        <option value="">---Select Option---</option>
                                                        <option th:each="td : ${listTypeDoctor}" th:value="${td.id}" th:text="${td.name}"></option>
                                                    </select>
                                                    <div style="color: red" class="help-block with-errors" th:if="${#fields.hasErrors('typeDoctorId')}" th:errors="*{typeDoctorId}"></div>
                                                </div>
                                            </div>
                                            <div class="field item form-group">
                                                <label class="col-form-label col-md-3 col-sm-3 label-align">Total Money<span class="required" style="color: red">*</span></label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input value="30" class="form-control" type="number" name="total_money" readonly="true">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-6 offset-md-3">
                                                    <input type="submit" value="Create" class="btn btn-primary"/>
                                                    <a th:href="@{/admin/phieukham}" class="btn btn-success">Cancel</a>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Content -->
                <div th:replace="~{admin/layout/footer :: footer}"></div>
            </div>

            <div th:replace="~{admin/layout/layoutfixbug :: body}"></div>

    </body>
</html>
