<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="~{admin/layout/layoutfixbug :: head}"></div>
    
    <style>
        .current-date-input{
            width: 165px;
            margin-right: 5px;
        }
        .select-date-group{
            display: flex;
        }
        .app-form{
            display: flex;
        }
        .reset-search-btn{
            text-align: center;
            color: #fff;
            border-radius: 3px;
            padding: 10px 12px;
            height: 38px;
            background: #26B99A;
        }
        .reset-search-btn:hover{
            color: #fff;
        }
        .appointment-title{
            text-align: center;
        }
    </style>

    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                <div th:replace="~{admin/layout/slidebar :: slidebarAdmin}"></div>
                <div class="top_nav">
                    <div th:replace="~{admin/layout/header :: div}"></div>
                </div>
                <!-- Content -->

                <div class="right_col" role="main">
                   
                    <div class="card shadow mb-4">
                        <h1 class="appointment-title">Appointment Page</h1>
                        <div class="card-header py-3 card_head select-date-group">
                            <div th:if="${currentAdmin != null}">
                                <form th:action="@{/admin/appointment/search}" class="app-form">
                                    <input type="text" th:value="${#dates.format(currentDate, 'yyyy-MM-dd')}" class="form-control current-date-input" name="current-date" readonly="true"/>

                                    <button type="submit" class="btn btn-success">Search</button>    
                                </form>
                                <a th:href="@{/admin/appointment}" class="reset-search-btn">Reset</a>  
                            </div>
                            <div th:if="${currentDoctor != null}">
                                <form th:action="@{/admin/appointment/search-each-day}" class="app-form">
                                    <input type="date" class="form-control current-date-input" id="date" name="date"/>
                                    <button type="submit" class="btn btn-success">Search</button> 
                                </form>
                                <a th:href="@{/admin/appointment}" class="reset-search-btn">Reset</a>
                            </div>
                                      
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                 <div th:if="${session.msg}">

                                    <div class="alert alert-danger alert-dismissible fade show">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <span th:text="${session.msg}"></span>
                                    </div>
                                    <th:block th:text="${#session.removeAttribute('msg')}"></th:block>
                                </div>
                                <table th:object="${listAppointment}" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                                    <thead>
                                        <tr>

                                            <th>Doctor Name</th>
                                            <th>Patient Name</th>
                                            <th>Symptom</th>
                                            <th>Type Payment</th>
                                            <th>Price</th>
                                            <th>Date</th>
                                            <th>Start time</th>
                                            <th>End time</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                </tbody>
                                 <tr th:each="e : ${listAppointment}">
                                         <td th:text="${e.getDoctorId().getName()}"></td>
                                        <td th:text="${e.getPatientId().getName()}"></td>
                                        <td th:text="${e.getSymptom()}"></td>
                                        <td th:text="${e.getTypePayment()}"></td>
                                        <td th:text="${e.getPrice()}"></td>
                                        <td th:text="${#dates.format(e.getDate(), 'yyyy-MM-dd')}"></td>
                                        <td th:text="${e.getStarttime()}"></td>
                                        <td th:text="${e.getEndtime()}"></td>
                                        <td th:if="${e.getStatus() == false}">
                                            <div th:if="${currentDoctor != null}">
                                                <form th:action="@{/change-status/{id}(id=${e.getId()})}" method="post">
                                                    <button type="submit" onclick="return confirm('Are you sure you want to update the status of this appointment?')" class="btn btn-danger">Haven't examined yet</button>
                                                </form>
                                            </div>
                                             <div th:if="${currentAdmin != null}">
                                                
                                                <span style="color: red;">Haven't examined yet</span>
                                                
                                            </div>
                                        </td>
                                        <td th:if="${e.getStatus() == true}">
                                            <div th:if="${currentDoctor != null}">
                                                <button type="submit" class="btn btn-success">Examined</button>
                                            </div>
                                             <div th:if="${currentAdmin != null}">
                                                
                                                 <span style="color: green;">Examined</span>
                                                
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                   
                                   

                                </table>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Content -->
                <div th:replace="~{admin/layout/footer :: footer}"></div>
            </div>

            <div th:replace="~{admin/layout/layoutfixbug :: body}"></div>
            <script>
               
                var todayDate = new Date();
                var month = todayDate.getMonth() + 1;
                var year = todayDate.getFullYear();
                var tdate = todayDate.getDate();
                if (month < 10) {
                   month = "0" + month.toString();
                }
                if (tdate < 10) {
                   tdate = "0" + tdate.toString();
                }
                var maxDate = year + "-" + month + "-" + tdate;
                
              
                
                document.getElementById("date").setAttribute("min", maxDate);
                console.log(maxDate);

            </script>
    </body>
</html>
