<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="~{admin/layout/layout :: head}"></div>


    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                <div th:replace="~{admin/layout/slidebar :: slidebarAdmin}"></div>
                <div class="top_nav">
                    <div th:replace="~{admin/layout/header :: div}"></div>
                </div>
                <!-- Content -->
                <div class="right_col" role="main">
                    <h1>Create New Drug</h1>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 card_head">
                        </div>
                        <div class="card-body">

                            <form th:action="@{/admin/create-thuoc}" th:object="${thuoc}" method="post" enctype="application/x-www-form-urlencoded">
                                <label for="name">Name:</label>
                                <input type="text" id="name" th:field="*{name}" required />
                                <br/>
                                <label for="companyName">Company Name:</label>
                                <input type="text" id="companyName" th:field="*{companyName}" required />
                                <br/>
                                <label for="composition">Composition:</label>
                                <input type="text" id="composition" th:field="*{composition}" required />
                                <br/>
                                <label for="quantity">Quantity:</label>
                                <input type="number" id="quantity" th:field="*{quantity}" required />
                                <br/>
                                <label for="price">Price:</label>
                                <input type="number" id="price" th:field="*{price}" required />
                                <br/>
                                <label for="typethuocId">Type:</label>
                                <select id="typethuocId" th:field="*{typethuocId}">
                                    <option th:each="typethuoc : ${listTypethuoc}" th:value="${typethuoc.id}" th:text="${typethuoc.name}"></option>
                                </select>
                                <br/>


                                <button type="submit">Create</button>
                            </form>

                        </div>
                    </div>
                </div>

                <!-- Content -->
                <div th:replace="~{admin/layout/footer :: footer}"></div>
            </div>
            <div th:replace="~{admin/layout/layout :: body}"></div>
    </body>
</html>
