<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="~{admin/layout/layoutfixbug :: head}"></div>


    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                <div th:replace="~{admin/layout/slidebarfixbug :: slidebarAdmin}"></div>
                <div class="top_nav">
                    <div th:replace="~{admin/layout/header :: div}"></div>
                </div>
                <!-- Content -->

                <div class="right_col" role="main">
                    <h1>Doctor Page</h1>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="x_panel">
                                <div class="x_content">
                                    <form th:action="@{/admin/thuoc/edit}" th:object="${objThuoc}" method="post">
                                        <span class="section">Edit</span>
                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align">Name<span class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6">
                                                <input type="text" th:field="*{name}" class="form-control" required="required"
                                                       >
                                                    <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align">Company name<span class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6">
                                                <input type="text" th:field="*{companyName}" class="form-control" required="required"
                                                       pattern=".{6,}" title="Minimum 6 characters" data-error=" Company Name is required (minimum 6 characters)">
                                                    <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align">Composition<span class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6">
                                                <input type="text" th:field="*{composition}" class="form-control" required="required"
                                                       >
                                                    <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align">Quantity<span class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6">
                                                <input type="number" th:field="*{quantity}" class="form-control" required="required"
                                                       >
                                                    <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align">Price<span class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6">
                                                <input type="number" th:field="*{price}" class="form-control" required="required"
                                                       >
                                                    <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                       
                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align">Type Doctor<span class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6">
                                                      <input  readonly th:value="${objThuoc.getTypethuocId().getName()}"/>
                                                <select name="typeThuocID">
                                                    
                                                    <option th:each="typeThuoc : ${listTypeThuoc}"
                                                            th:value="${typeThuoc.id}"
                                                            th:text="${typeThuoc.name}">
                                                    </option>
                                                </select>
                                              

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6 offset-md-3">
                                                <input type="submit" value="Update" class="btn btn-primary"/>
                                                <input type="reset" value="Reset" class="btn btn-success"/>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Content -->
                <div th:replace="~{admin/layout/footer :: footer}"></div>
            </div>

            <div th:replace="~{admin/layout/layoutfixbug :: body}"></div>

    </body>
</html>
